 <div class="student-list">
  <div class="header">
    <h2>Student List</h2>
    <button routerLink="/student/add">
      Add New Student
    </button>
  </div>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Grade</th>
          <th>D.O.B</th>
          <!-- <th>Age</th> -->
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf=" students.length===0">
          <td class="center" colspan="3">You have no students</td>
        </tr>
        <ng-container *ngIf="students.length > 0"  >
          <tr *ngFor="let student of students" (click)="viewDetails(student)">
          <td>{{ student.firstName }}</td>
          <td>{{ student.lasttName }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.grade }}</td>
          <td>{{ student.dob }}</td>
          <!-- <td>{{ student.age }}</td> -->
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.address }}</td>
          <td>
            <button (click)="deleteStudent(student.id)">Delete</button>
          </td>
          <td>
            <button [routerLink]="['/student/add', student.id]">Edit</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <br>

  </div>
  <app-details [student]="selectedStudent" ></app-details>

  

   
  