<div class="student-list">
  <div class="header">
    <h2>Student List</h2>
    <button routerLink="/student/add">
      Add New Student
    </button>
  </div>

  <div>
    <!-- Search bar -->
    <input type="text" placeholder="Search students..." [(ngModel)]="searchText" (input)="onSearch()" />
  </div>

  <div>
    <!-- Display the saved student ID -->
    <p *ngIf="studentId">Saved Student ID: {{ studentId }}</p>
  </div>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Grade</th>
        <th>D.O.B</th>
        <th>Age</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    
    <!-- <tbody>
      <tr *ngIf=" students.length===0">
        <td class="center" colspan="3">You have no students</td>
      </tr>
      <ng-container *ngIf="students.length > 0">
        <tr *ngFor="let student of students" (click)="viewDetails(student)">
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.grade }}</td>
          <td>{{ student.dob }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.address }}</td>
          <td> -->
            <!-- <button (click)="deleteStudent(student.id)">Delete</button> -->
            <!-- <button class="btn btn-danger" (click)="openDeleteModal(student)">Delete</button> -->
            <!-- <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, student)">Delete</button>
          </td>
          <td>
            <button [routerLink]="['/student/add', student.id]">Edit</button>
          </td>
        </tr>
      </ng-container>
    </tbody> -->

    <tbody>
      <tr *ngIf="filteredStudents.length === 0">
          <td class="center" colspan="9">No students found</td>
      </tr>
      <ng-container *ngIf="filteredStudents.length > 0">
          <tr *ngFor="let student of filteredStudents" (click)="viewDetails(student)">
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
              <td>{{ student.gender }}</td>
              <td>{{ student.grade }}</td>
              <td>{{ student.dob }}</td>
              <td>{{ student.age }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.address }}</td>
              <td>
                  <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, student)">Delete</button>
              </td>
              <td>
                <button [routerLink]="['/student/add', student.id]">Edit</button>
              </td>
          </tr>
      </ng-container>
  </tbody>
  </table>
  <br>

</div>
<!-- Child component to show student details -->
<app-details [student]="selectedStudent" (onDataChanged)="OnDataChanged($event)"></app-details>

<!-- Delete Confirmation Modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Profile Deletion</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete <span class="text-primary">"{{ studentToDelete?.firstName }} {{
          studentToDelete?.lastName }}"</span> profile?</strong>
    </p>
    <p>
      All information associated with this user profile will be permanently deleted.
      <span class="text-danger">This operation cannot be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(); modal.close('Ok click')">Ok</button>
  </div>
</ng-template>